<div class="content">
<h2>Editar Meus Dados</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

      <%if current_user.avatar.url.present?%>
      <%= show_by_file_type(current_user.avatar)%>
          <%= f.file_field :avatar, accept: "image/jpeg, image/jpg, image/gif, image/png"  %>
          <%= f.file_field :cover_photo, accept: "image/jpeg, image/jpg, image/gif, image/png"  %>
          <%= f.hidden_field :avatar_cache%>
    <%else%>
          <%= f.file_field :avatar, accept: "image/jpeg, image/jpg, image/gif, image/png"  %>
          <%= f.file_field :cover_photo, accept: "image/jpeg, image/jpg, image/gif, image/png"  %>
          <%= f.hidden_field :avatar_cache%>
      <%end%>

    <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname %>
    </div>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

    <div class="field">
      <%= f.label :cpf %><br />
      <%= f.text_field :cpf ,class: "cpf",maxlength: 14%>
    </div>

      <div class="field">
        <%= f.label :bio %><br />
        <%= f.text_field :bio %>
      </div>
      <div class="field">
        <%= f.label :job_title %><br />
        <%= f.text_field :job_title %>
      </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(deixe em branco se você não deseja alterar)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(precisamos de sua senha atual para confirmar as mudanças)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar",:class=>"btn btn-success" %>
  </div>
<% end %>

  <br>
<h3>Cancelar minha Conta</h3>

<p>Não precisa mais ter um conta aqui? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem Certeza?" }, method: :delete %></p>

<%= link_to "Voltar", :back ,:class=>"btn btn-default"%>
</div>

<script>
    $(document).ready(function() {

        $('.cpf').mask('000.000.000-00', {reverse: true});
    } );
</script>