<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>



  <!DOCTYPE html>
  <!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
  <!--[if gt IE 9]><!--> 
  <html class="no-focus"> <!--<![endif]-->
  <head>
  <meta charset="utf-8">
  <!--






  -->
  <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest | This is the demo of OneUI! You need to purchase a license for legal use! | DEMO">
  <meta name="author" content="pixelcave">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
  <link rel="shortcut icon" href="assets/img/favicons/favicon.png">
  <link rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="assets/img/favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="assets/img/favicons/favicon-192x192.png" sizes="192x192">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon-180x180.png">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700"><link rel="stylesheet" href="assets/css/bootstrap.min-1.4.css">
  <link rel="stylesheet" id="css-main" href="assets/css/oneui.min-1.4.css">
  </head>
  <body>
  <div class="content overflow-hidden">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="block block-themed animated fadeIn">
          <div class="block-header bg-success">
            <ul class="block-options">
            <li>
            <a href="#" data-toggle="modal" data-target="#modal-terms">Ver Termos</a>
            </li>
            <li>
            <a href="base_pages_login.php" data-toggle="tooltip" data-placement="left" title="Log In"><i class="si si-login"></i></a>
            </li>
            </ul>
            <h3 class="block-title">Registrar</h3>
          </div>
          <div class="block-content block-content-full block-content-narrow">
            <h1 class="h2 font-w600 push-30-t push-5">GoRails</h1>
            <p>Por favor preencha os campos para criar uma nova conta.</p>
            <form class="js-validation-register form-horizontal push-50-t push-50" id="new_user" action="/users" method="post">
            <div class="form-group">
              <div class="col-xs-12">
                <div class="form-material form-material-success">
                  <input class="form-control" type="email" id="user_email" value="user[email]" placeholder="Por favor digite seu email">
                  <label for="user_email">Email</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="form-material form-material-success">
                  <input class="form-control" type="password" id="user_password" value="user[password]" placeholder="Por favor digite sua senha">
                  <label for="user_password">Senha</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="form-material form-material-success">
                  <input class="form-control" type="password" id="user_password_confirmation" value="user[password_confirmation]" placeholder="Digite sua senha novamente">
                  <label for="user_password_confirmation">Confirmação de Senha</label>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-xs-12">
                <label class="css-input switch switch-sm switch-success">
                <input type="checkbox" id="register-terms" name="register-terms"><span></span> Eu aceito os termos &amp; condições
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-6 col-md-5">
                <button class="btn btn-block btn-success" type="submit" name="commit" value="Sign up"><i class="fa fa-plus pull-right"></i> Criar Conta</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="push-10-t text-center animated fadeInUp">
  </div>
  <div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-popout">
      <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
              <li>
                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
              </li>
            </ul>
            <h3 class="block-title">Termos &amp; Condições</h3>
          </div>
          <div class="block-content">
            <p>Não existe termos no momento...</p>
         
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"> Fechar </button>
          <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> Aceitar </button>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/js/oneui.min-1.4.js"></script><script src="assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="assets/js/pages/base_pages_register.js"></script>
  <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-16158021-6', 'auto');ga('send', 'pageview');</script>
  </body>
  </html>