<div class="tab-pane fade fade-up" id="user-data">
  <div class="border-b push-30">
    <h2 class="push-10"> <span class="h5 font-w400 text-muted">Dados Cadastrados</span></h2>
  </div>

  <div class="row">
    <div class="col-sm-5 col-sm-push-7 col-lg-4 col-lg-push-8">

      <div class="block">
        <div class="block-content">
          <h3 class="block-title"><i class="fa fa-fw fa-user"></i> Biografia</h3>
          <% if @user.bio %>
              <p><%= @user.bio %></p>
          <% else %>
              Não ha biografia ainda, cria uma agora.
          <% end %>
        </div>
      </div>

      <div class="block">
        <div class="block-content">
          <h3 class="block-title"><i class="fa fa-fw fa-user"></i> Alertas</h3>
        </div>
      </div>


      <div class="block">
        <div class="block-content">
          <h3 class="block-title"><i class="fa fa-fw fa-user"></i> Brindes Ganhos</h3>

          <% if @user.winners.any? %>
              <table class="table table-borderless table-condensed">
                <tbody>
                <% @user.winners.order(:created_at).each do |winner| %>
                    <tr>
                      <td>
                        <i class="fa fa-fw fa-book push-10-r"></i>
                        Ganhou o brinde <%= winner.gift.name %>, no evento <%= winner.gift.event.name %><br>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% else %>
              <p>
                Você ainda não ganhou nenhum brinde em eventos
              </p>
          <% end %>
        </div>
      </div>


      <div class="block">
        <div class="block-content">
          <h3 class="block-title"><i class="fa fa-fw fa-user"></i> Redes Sociais</h3>

          <% if @user.social_networks.any? %>
              <table class="table table-borderless table-condensed">
                <tbody>
                <% @user.social_networks.order(:created_at).each do |social| %>
                    <tr>
                      <td>
                        <i class="fa fa-fw fa-<%= class_fa(social.social_network_type_id) %> push-10-r"></i>
                        <%= social.social_network_type.name_social_media %> <%= link_to "#{social.link}", url_with_protocol(social.link), :target => '_blank' %>
                        <br>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% else %>
              <p>
                Usuário não cadastrou nenhuma Rede Social
              </p>
          <% end %>
        </div>
      </div>


      <div class="block">
        <div class="block-content">
          <h3 class="block-title"><i class="fa fa-fw fa-user"></i> Último acesso</h3>

          <p><%= @user.decorate.last_signin_date %></p>
          <p><%= @user.decorate.last_signin_ip %></p>
        </div>
      </div>

    </div>

  </div>


</div>
