<style>

  /**
   * Ranking component
   */
  .rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
  }

  .label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
  }
</style>

<div class="content bg-image" style="background-image: url('<%=asset_path  @user.cover_photo%>')">
  <div class="push-50-t push-15 clearfix">
    <div class="push-15-r pull-left animated fadeIn">
      <%= @user.decorate.user_avatar(true, "96") %>
      <div class="rank-label-container">
        <span class="label label-default rank-label">Nível <%=@user.level%></span>
      </div>
    </div>
    <h1 class="h2 text-white push-5-t animated zoomIn"><%= @user.full_name %></h1>
    <h2 class="h5 text-white-op animated zoomIn"><%= @user.job_title %></h2>
  </div>
</div>


