<style>
  #stageholder {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
  }

  canvas {
    border: 5px solid #e1e1e1;
  }
</style>

<main id="main-container" style="min-height: 277px;">
  <div class="content content-boxed">

    <%= render 'user_cover' %>

    <div class="row">
      <div class="col-sm-5 col-sm-push-7 col-lg-4 col-lg-push-8">
        <!--<div class="block">-->
        <!--<div class="block-content block-content-full text-center">-->
        <!--<%# if current_user and user_signed_in? && current_user.to_param == params[:id] %>-->
        <!--<%#= link_to edit_user_registration_path, :class => 'navbar-link' do %>-->
        <!--<button class="btn btn-sm btn-default"><i class="fa fa-fw fa-edit text-success"></i>Editar perfil-->
        <!--</button>-->
        <!--<%# end %>-->
        <!--<%# end %>-->
        <!--</div>-->
        <!--</div>-->


        <div class="block">
          <div class="block-content" align="center">
            <h3 class="block-title"><i class="fa fa-fw fa-user"></i> Personagem</h3>

            <div id="shadow"></div>

            <div id="stageholder"></div>

            <!--<div id="canvasDiv"></div>-->
            <script type="text/javascript">
                // prepareCanvas(document.getElementById("canvasDiv"), 600, 220);
                //  document.getElementById("canvasDiv").onmousedown = function () {
                //    jump();
                //}
            </script>
            <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%=
                @user.current_experience %>" aria-valuemin="0" aria-valuemax="<%= @user.next_level_xp %>"
                   style="width: <%=@user.decorate.xp_percent %>%;">
                <%= @user.current_experience %>XP / <%= @user.next_level_xp %>XP
              </div>
            </div>

          </div>
        </div>
        <div class="block">
          <div class="block-content">
            <h3 class="block-title"><i class="fa fa-fw fa-user"></i> Conquistas</h3>
            <%= render 'gamification/rewards/presentation', rewards: @user.rewards %>
          </div>
        </div>

        <div class="block">
          <div class="block-content">
            <h3 class="block-title"><i class="fa fa-fw fa-user"></i> Biografia</h3>
            <% if @user.bio %>
                <p><%= @user.bio %></p>
            <% else %>
                Não ha biografia ainda, cria uma agora.
            <% end %>
          </div>
        </div>

        <div class="block">
          <div class="block-content">
            <h3 class="block-title"><i class="fa fa-fw fa-user"></i> Alertas</h3>
          </div>
        </div>


        <div class="block">
          <div class="block-content">
            <h3 class="block-title"><i class="fa fa-fw fa-user"></i> Brindes Ganhos</h3>

            <% if @user.winners.any? %>
                <table class="table table-borderless table-condensed">
                  <tbody>
                  <% @user.winners.order(:created_at).each do |winner| %>
                      <tr>
                        <td>
                          <i class="fa fa-fw fa-book push-10-r"></i>
                          Ganhou o brinde <%= winner.gift.name %>, no evento <%= winner.gift.event.name %><br>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
            <% else %>
                <p>
                  Você ainda não ganhou nenhum brinde em eventos
                </p>
            <% end %>
          </div>
        </div>

        <div class="block">
          <div class="block-content">
            <h3 class="block-title"><i class="fa fa-fw fa-user"></i> Último acesso</h3>

            <p><%= @user.decorate.last_signin_date %></p>
            <p><%= @user.decorate.last_signin_ip %></p>
          </div>
        </div>

      </div>



      <% if get_github_user(@user)!= nil %>
          <div class="col-sm-7 col-sm-pull-5 col-lg-8 col-lg-pull-4">
            <div class="block block-opt-refresh-icon6">
              <div class="block-header">
                <ul class="block-options">
                  <li>
                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle">
                      <i class="si si-size-fullscreen"></i></button>
                  </li>
                  <li>
                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo">
                      <i class="si si-refresh"></i></button>
                  </li>
                </ul>
                <h3 class="block-title"><i class="fa fa-newspaper-o"></i> Repositórios Github</h3>
              </div>
              <div class="block-content">
                <div class="block">
                  <div class="block-content">
                    <% repositorios = Github::Client::Repos.new.list user: get_github_user(@user), auto_pagination: true %>
                    <div class="row">
                      <% repositorios.each_page do |page| %>
                          <% page.each do |repo| %>
                              <div class="col-sm-6 col-lg-4">
                                <a class="block block-bordered block-link-hover3 text-center" href="javascript:void(0)">
                                  <div class="block-content block-content-full bg-gray-lighter border-b" style="min-height: 150px;">
                                    <div class="h5 font-w700"><i class="si si-notebook"></i> <%= repo.name %></div>
                                    <div class="h7 text-muted text-uppercase push-5-t"> <%= repo.description.present? ? repo.description.first(50) : '' %></div>
                                  </div>
                                  <div class="block-content block-content-full block-content-mini">
                                    <i class="fa fa-code-fork text-success"></i> <%= repo.forks %>
                                  </div>
                                </a>
                              </div>
                          <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</main>
<%= javascript_include_tag 'go_gamification/bhive', media: 'all', 'data-turbolinks-track' => true %>

<script>



    var charX = 50;
    var charY = 108;

    var breathInc = 0.1;
    var breathDir = 1;
    var breathAmt = 0;
    var breathMax = 2;
    var maxEyeHeight = 14;
    var curEyeHeight = maxEyeHeight;
    var eyeOpenTime = 0;
    var timeBtwBlinks = 200;
    var blinkUpdateTime = 1;
    var blinkCounter = 0;
    var numFramesDrawn = 0;
    var curFPS = 0;

    var isJumping = false;
    var jumpHeight = 45;
    var cloudSpeed = 0.5;

    var parts = [
        {name: 'leftArm',ident: "<%= asset_path 'go_gamification/leftArm' %>", visible: true, x: charX + 40, y: charY - 42 - breathAmt},
        {name:'leftArmjump',ident: "<%= asset_path 'go_gamification/leftArm-jump' %>", visible: false, x: charX + 40, y: charY - 42 - breathAmt},
        {name: 'legs',ident: "<%= asset_path 'go_gamification/legs' %>", visible: true, x: charX, y: charY},
        {name: 'legsjump',ident: "<%= asset_path 'go_gamification/legs-jump' %>", visible: false, x: charX, y: charY-6},
        {name: 'torso',ident: "<%= asset_path 'go_gamification/torso' %>", visible: true, x: charX, y: charY - 50},
        {name: 'head',ident: "<%= @user.decorate.equipped_head %>", visible: true, x: charX - 10, y: charY - 125 - breathAmt},
        {name: 'hair',ident: "<%= @user.decorate.equipped_hair %>", visible: true, x: charX - 37, y: charY - 138 - breathAmt},
        {name: 'rightArm',ident: "<%= asset_path 'go_gamification/rightArm' %>", visible: true, x: charX - 15, y: charY - 42 - breathAmt},
        {name: 'rightArmjump',ident: "<%= asset_path 'go_gamification/rightArm-jump' %>", visible: false, x: charX - 35, y: charY - 42 - breathAmt},

    ];
    var bodyParts = [];

    var num_of_imgs = parts.length + 2;
    var loaded_imgs = 0;

    function myLoop() {
        bg.draw();

        //update the cloud
        cx = cloud.x - cloudSpeed;

        if(cx+cloud.width < 0) {
            cx = engine._stageWidth + 20;
            cy = Math.floor(Math.random()*50);
            cloud.y = cy;
        }

        cloud.x = cx;
        cloud.draw();

        x = charX;
        y = charY;

        if(isJumping) {
            y -= jumpHeight;
        }

        character.y = y;
        // Update parts for breathing
        bodyParts.head.y = charY - 125 - breathAmt;
        bodyParts.hair.y = charY - 138 - breathAmt;

        if(isJumping) {
            bodyParts.leftArmjump.visible = true;
            bodyParts.rightArmjump.visible = true;
            bodyParts.legsjump.visible = true;

            bodyParts.leftArm.visible = false;
            bodyParts.rightArm.visible = false;
            bodyParts.legs.visible = false;
        } else {
            bodyParts.leftArmjump.visible = false;
            bodyParts.rightArmjump.visible = false;
            bodyParts.legsjump.visible = false;

            bodyParts.leftArm.visible = true;
            bodyParts.rightArm.visible = true;
            bodyParts.legs.visible = true;

            bodyParts.leftArm.y = charY - 42 - breathAmt;
            bodyParts.rightArm.y = charY - 42 - breathAmt;
        }

        bodyParts.leftEye.y = charY - 68 - breathAmt;
        bodyParts.rightEye.y = charY - 68 - breathAmt;

        eyeOpenTime += blinkUpdateTime;

        if(eyeOpenTime >= timeBtwBlinks) {
            blink();
        }

        bodyParts.leftEye.height = curEyeHeight;
        bodyParts.rightEye.height = curEyeHeight;

        character.draw();
        fps_text.text = "Current FPS: " + engine.getFPS();
        fps_text.draw();
        updateBreath();
    }

    $(document).ready(function() {
        engine = new bHive({
            width: 301,
            height: 301,
            domobject: 'stageholder',
            backgroundColor: '#000'
        });

        engine.addEventListener('onclick',function(e) {
            // Jumping
            if(!isJumping) {
                isJumping = true;
                setTimeout(land, 500);
            }
        });

        character = engine.createClip({
            x: charX,
            y: charY
        });

        for(part in parts) {
            o = parts[part];
            bodyParts[o.name] = engine.createBitmap({
                src: o.ident ,
                x: o.x,
                y: o.y,
                visible: o.visible
            });

            bodyParts[o.name].addEventListener('onload',increaseLoaded);
            character.add(bodyParts[o.name]);
        }

        bodyParts['leftEye'] = engine.createShape({
            shape: 'elipse',
            style: 'filled',
            x: charX + 47,
            y: charY - 68 - breathAmt,
            width: 8,
            height: curEyeHeight,
        });

        bodyParts['rightEye'] = engine.createShape({
            shape: 'elipse',
            style: 'filled',
            x: charX + 58,
            y: charY - 68 - breathAmt,
            width: 8,
            height: curEyeHeight
        });

        character.add(bodyParts['leftEye']);
        character.add(bodyParts['rightEye']);

        bg = engine.createBitmap({
            src: "<%= asset_path 'go_gamification/background' %>",
            x: 0,
            y: 0
        });

        bg.addEventListener('onload',increaseLoaded);

        cloud = engine.createBitmap({
            src: "<%= asset_path 'go_gamification/cloud' %>",
            x: engine._stageWidth + 20,
            y: 80
        });

        cloud.addEventListener('onload',increaseLoaded);

        fps_text = engine.createText({
            text: "FPS",
            color: 'rgba(255,255,255,1)',
            x: 20,
            y: 20
        });

        setTimeout("checkforload()",1000);
    });

    function increaseLoaded() {
        loaded_imgs++;
    }

    function checkforload() {
        if(loaded_imgs == num_of_imgs) {
            console.log("loaded");
            engine.theLoop(myLoop);
        } else {
            setTimeout("checkforload()",1000);
        }
    }

    function updateBreath() {
        if (breathDir === 1) {  // breath in
            breathAmt -= breathInc;
            if (breathAmt < -breathMax) {
                breathDir = -1;
            }
        } else {  // breath out
            breathAmt += breathInc;
            if(breathAmt > breathMax) {
                breathDir = 1;
            }
        }
    }

    function blink() {
        curEyeHeight -= 2;
        if (curEyeHeight <= 0) {
            eyeOpenTime = 0;
            curEyeHeight = maxEyeHeight;
        }
    }

    function land() {
        isJumping = false;
    }


</script>
<%#= javascript_include_tag 'go_gamification/character-new', media: 'all', 'data-turbolinks-track' => true %>
