<style>
  #stageholder {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
  }

  canvas {
    border: 5px solid #e1e1e1;
  }
</style>

<main id="main-container" style="min-height: 277px;">
  <%= render 'user_cover' %>


  <div class="content">
    <div class="block">
      <ul class="nav nav-tabs" data-toggle="tabs">
        <li class="active">
          <a href="#character">Personagem</a>
        </li>
        <li class="">
          <a href="#projects">Projetos</a>
        </li>
        <li class="">
          <a href="#posts">Posts</a>
        </li>
        <li class="">
          <a href="#events">Eventos</a>
        </li>
        <li class="">
          <a href="#jobs">Vagas de Emprego</a>
        </li>
        <li class="">
          <a href="#user-data">Dados</a>
        </li>
      </ul>
      <div class="block-content tab-content bg-white">
        <%=render 'tab_character' %>
        <%=render 'tab_projects' %>
        <%=render 'tab_posts' %>
        <%=render 'tab_events' %>
        <%=render 'tab_jobs' %>
        <%=render 'tab_user_data' %>
      </div>
    </div>
  </div>

</main>

<%= render 'javascript' if @user.decorate.inventory? %>