<br>
<br>
<br>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="block block-themed animated fadeIn">
      <div class="block-header bg-primary">
        <ul class="block-options">

          <li>
            <% if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "Registrar", new_registration_path(resource_name) ,class:"btn btn-block btn-primary"%><br />
            <% end %>
          </li>

        </ul>
        <h3 class="block-title"><%= t("devise.passwords.edit.change_your_password") %></h3>
      </div>
      <div class="block-content block-content-full block-content-narrow">
            <%= form_for(resource,as: resource_name, url: password_path(resource_name), html: {:class => "js-validation-login form-horizontal push-30-t push-50", method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="form-material form-material-primary floating">
                  <%= f.label :password, t("devise.passwords.edit.new_password") %><br />
                  <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characteres no mínimo)</em>
                  <% end %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "off",class:"form-control"%>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <div class="form-material form-material-primary floating">
                  <%= f.label :password_confirmation, t("devise.passwords.edit.confirm_new_password") %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control"%>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <%= f.submit t("devise.passwords.edit.change_my_password"),class: "btn  btn-large btn-primary"%>
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:5px">


              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
