<tr id="registration-<%= registration.id %>" data-id="<%= registration.id %>">
  <% user_presenter = registration.user.decorate -%>
  <td class="text-right"><%= user_presenter.user_avatar(true, 32, false) %></td>
  <td><%= user_presenter.email %></td>
  <td><%= user_presenter.name %></td>
  <td class="js-ev-presence"><%= presence_buttons(registration) %></td>
</tr>
