<%= simple_nested_form_for @event ,class: "form-horizontal" do | f | %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
        <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
        </div>
          <div class="form-group">
      <%= f.text_area :description ,class:'summernote_description' ,:id => 'description'%>
          </div>
            <div class="form-group">
      <%= f.label :start_at %><br>
      <%= f.datetime_select :start_at %>
            </div>
    <div class="form-group">
      <%= f.label :end_at %><br>
      <%= f.datetime_select :end_at %>
    </div>
              <div class="form-group">
      <%= f.label :local %><br>
      <%= f.text_area :local,class:'summernote_local', :id => 'local'%>
              </div>
                <div class="form-group">
      <%= f.label :participants_limit %><br>
      <%= f.number_field :participants_limit, min: 1 %>
      <br>
      <br>
      <h3>Patrocinador</h3>
      <%= f.fields_for :partners do |partner| %>
      <p>
        <%= partner.input :name, placeholder: "Nome do Patrocinador" %>
        <%= partner.input :link %>
        Possui site?
        <%= partner.check_box :site %>
        <br>
        <%= partner.label :logo, "Logo" %>
        <%= partner.file_field :logo, accept: "image/jpeg, image/jpg, image/gif, image/png"  %>
        <br>
        <%= partner.input :category, collection: Partner.categories.keys, prompt: "Selecione uma categoria" %>
        <%= partner.link_to_remove "Fechar", class: 'btn btn-danger', data: { disable_with: "Fechando..." } %>
      </p>
      <% end %>
      <%= f.link_to_add "Adicionar um novo patrocinador", :partners, class: 'btn btn-success', data: { disable_with: "Adicionando..." } %>
      </div>
      <%= f.submit "Cadastrar",class: "btn btn-primary", data: { disable_with: "Cadastrando..." } %>

<% end %>
<script>
    $(document).ready(function () {
        $('.summernote_description').summernote();
        $('.summernote_local').summernote();
    });
</script>