  <div class="bg-image" style="background-image: url('<%=asset_path "rails.jpg"%>');">
    <div class="bg-primary-dark-op">
    <section class="content content-full content-boxed">
      <div class="push-150-t push-50 text-center">
        <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Novos Eventos periodicamente.</h1>
        <h2 class="h4 text-white-op push visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Junte-se a nossa comunidade para ter acesso a eventos e cursos.</h2>
        <!--<a class="btn btn-rounded btn-noborder btn-lg btn-success visibility-hidden" data-toggle="appear" data-class="animated zoomIn" href="javascript:void(0)">Torne-se um associado</a>-->
      </div>
    </section>
  </div>
</div>
  <section class="content content-boxed overflow-hidden" >
    <div class="push-50-t push-50">
      <div class="row">
        <% @events.each do |event| %>
        <div class="col-sm-6 col-md-4 col-lg-3" >
          <a  href="#">
            <%= link_to(event,:class=>"block block-rounded block-link-hover2") do %>
                <div class="block-content bg-image block-content-full text-center bg-city ribbon ribbon-bookmark ribbon-crystal" style="background-image: url('<%=asset_path event.decorate.get_event_cover_image%>');">
                  <div class="ribbon-box font-w600">EVENTO GRATUITO</div>
                  <div class="item item-2x item-circle bg-crystal-op push-20-t push-20 visibility-hidden" data-toggle="appear" data-offset="50" data-class="animated fadeIn">
                    <i class="fa fa-diamond text-white-op"></i>
                  </div>
                  <div class="text-white-op">
                    <!--<em>3 palestras</em> &bull; <em>4 horas</em>-->
                  </div>
                </div>
                <div class="block-content">
                  <h4 class="mheight-125" style="text-align: center"><%= event.name %></h4>
                  <div class="font-s12 text-center push"><%= event.start_at.strftime("Data %d/%m/%Y") %></div>
                </div>
            <% end %>
          </a>
        </div>
        <%end%>
      </div>
    </div>
  </section>

  <div class="bg-gray-lighter">
    <section class="content content-full content-boxed">
      <div class="push-20-t push-20 text-center">
        <h3 class="h4 push-20 visibility-hidden" data-toggle="appear">Esta pronto para começar? Junte-se hoje.</h3>
        <!--<a class="btn btn-rounded btn-noborder btn-lg btn-success visibility-hidden" data-toggle="appear" data-class="animated bounceIn" href="javascript:void(0)">Associe-se hoje</a>-->
      </div>
    </section>
  </div>


