<div class="bg-image" style="background-image: url('<%=asset_path "bg-red.jpg"%>')" ;>
  <div class="bg-primary-dark-op">
    <section class="content content-full content-boxed">
      <div class="push-100-t push-50 text-center">
        <h1 class="h2 text-white push-10 animated fadeInDown" data-toggle="appear" data-class="animated fadeInDown"> <%= @event.name %></h1>
        <h2 class="h4 text-white-op animated fadeInDown" data-toggle="appear" data-class="animated fadeInDown"><%= @event.start_at.strftime("Data %d/%m/%Y") %></h2>
      </div>
    </section>
  </div>
</div>

<div class="bg-white">
  <section class="content content-mini content-mini-full content-boxed overflow-hidden">
    <ol class="breadcrumb">
      <li><a class="text-primary-dark" href="/events">Eventos</a></li>
      <li><%= @event.name %></li>

    </ol>
  </section>
</div>

<section class="content content-boxed overflow-hidden">
  <div class="row">
    <div class="col-md-8">
      <div class="block block-rounded">
        <div class="block-content">
          <h3 class="h4 push-20 animated fadeIn" data-toggle="appear">Descrição do Evento</h3>
          <%= @event.description.html_safe %>
          <br>
          <br>
          <br>
          <h3 class="h4 push-20 animated fadeIn" data-toggle="appear">Local</h3>
          <%= @event.local.html_safe %>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="block block-rounded">
        <div class="block-content">
          <% if @event.event_happened? %>
              <center>Este evento já aconteceu</center>
          <% else %>
              <% if user_signed_in? %>
                  <% if @event.is_registrated?(current_user.id) %>
                      <center>Você já esta registrado neste evento</center>
                  <% elsif !@event.inscriptions_open? %>
                      <center>O Período inscrição ainda nao foi iniciado</center>

                  <% else %>
                      <%= simple_form_for :register, {url: register_events_path(:id => @event.id, :user_id => current_user.id)} do |f| %>
                          <% if current_user.cpf.blank? %>
                              <%= f.label :cpf, "CPF" %>
                              <%= f.text_field :cpf, class: "form-control  cpf" %>
                          <% end %>
                          <div class="col-xs-12">
                            <label class="css-input css-checkbox css-checkbox-success">
                              <%= f.check_box :need_certificate, class: "form-control  cpf" %><span></span>Deseja
                              Certificado?
                            </label>
                          </div>

                          <br>
                          <br>
                          <%= f.submit "Inscrever-se", data: {disable_with: "Cadastrando..."}, class: "btn btn-block btn-rounded btn-noborder btn-success push-10" %>
                      <% end %>
                  <% end %>
              <% else %>
                  <%= link_to new_user_session_path, :class => 'btn btn-block btn-rounded btn-noborder btn-success push-10' do %>
                      Inscrever-se
                  <% end %>
              <% end %>
          <% end %>
        </div>
      </div>

      <!-- INI.SOBRE ESTE EVENTO -->
      <div class="block block-rounded">
        <div class="block-header bg-gray-lighter text-center">
          <h3 class="block-title">Sobre este Evento</h3>
        </div>
        <div class="block-content">
          <ul class="list-unstyled push-20">
            <li class="push-10"><span class="fa fa-fw fa-clock-o push-10-r"></span><%= @event.event_duration %> horas de
              duração
            </li>
            <li><span class="fa fa-fw fa-user push-10-r"></span><%= @event.participants_limit %> vagas no total</li>
          </ul>
        </div>
      </div>
      <!-- END.SOBRE ESTE EVENTO -->

      <% if can?(:update, @event) %>
          <!-- INI.ACESSO RESTRITO -->
          <div class="block block-rounded">
            <div class="block-header bg-gray-lighter text-center">
              <h3 class="block-title">Acesso Restrito</h3>
            </div>
            <div class="block-content">
              <ul class="list-unstyled push-20">
                <li>
                  <span class="fa fa-fw fa-gear push-10-r"></span><%= link_to("Gerenciar presenças", event_registrations_path(@event)) %>
                </li>
              </ul>
            </div>
          </div>
          <!-- END.ACESSO RESTRITO -->
      <% end %>

    </div>
  </div>
</section>
<div class="bg-gray-lighter">
  <section class="content content-full content-boxed">
    <div class="push-20-t push-20 text-center">
      <h3 class="h4 push-20 animated fadeIn" data-toggle="appear"></h3>
      <h3>Apoiadores</h3>
      <br>
      <% if @event.partners.any? %>

          <div class="content-grid">
            <div class="row">

              <% @event.partners.order(:order).each_with_index do |partner, index| %>
                  <div class="col-sm-3 col-lg-3">
                    <div class="block" style="min-height: 150px; align-items: center;">
                      <div class="block-content">


                        <%#= link_to partner.name, partner %>

                        <%= link_to url_with_protocol(partner.link), target: "_blank" do %>
                            <%= show_by_file_type(partner.logo) %>
                        <% end %>
                        <%#= t(partner.category) %>
                      </div>
                    </div>
                  </div>
              <% end %>


            </div>
          </div>
      <% else %>
          <p>
            Sem patrocinador cadastrado neste evento!

          </p>
      <% end %>

      <h3>Brindes</h3>
      <br>
      <% if @event.gifts.any? %>

          <div class="content-grid">
            <div class="row">

              <% @event.gifts.each do |gift| %>
                  <div class="col-sm-3 col-lg-3">
                    <div class="block" style="min-height: 150px; align-items: center;">
                      <div class="block-content">
                        <%#= link_to gift.name, gift %>
                        <%= show_by_file_type(gift.photo) %>
                      </div>
                    </div>
                  </div>

              <% end %>


            </div>
          </div>
      <% else %>
          <p>
            Sem Brinde cadastrado no evento
          </p>
      <% end %>


      <br>
      <br>

      <%= render "participants" %>
      <br>
      <br>
      <br>
      <%= render "albums" %>


      <!--<a class="btn btn-rounded btn-noborder btn-lg btn-success animated bounceIn" data-toggle="appear" data-class="animated bounceIn" href="javascript:void(0)"></a>-->
    </div>
  </section>
</div>
<script>
    jQuery(function () {
        App.initHelpers('magnific-popup');
    });

    $(document).ready(function () {

        $('.cpf').mask('000.000.000-00', {reverse: true});
    });
</script>
