<%= simple_form_for(@gift) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :event %>
  </div>

  <div class="form-group form-actions">
  	<%= link_to I18n.t('misc.action.back'), gifts_path, class: 'btn btn-sm btn-square btn-default' %> 
    <%= f.button :submit, class: 'btn btn-sm btn-square btn-primary' %>
  </div>
<% end %>
