<%= provide :page_title, I18n.t('gifts.show.header', resource: @gift.try(:id) ) %>
<%= provide :breadcrumb do %>
  <li><%= link_to  I18n.t('activerecord.models.gift.other'), gifts_path %></li>
  <li><%= link_to  @gift.try(:id), @gift %></li>
  <li><%= I18n.t('gifts.show.header', resource: @gift.try(:id) ) %></li>
<% end %>

<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= I18n.t('gifts.show.header', resource: @gift.try(:id)) %></h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
                  <tr>
            <td><strong><%=t 'activerecord.attributes.gift.name' %>:</strong></td>
             <td><%= @gift.name %></td>
          </tr>   
                  <tr>
            <td><strong><%=t 'activerecord.attributes.gift.description' %>:</strong></td>
             <td><%= @gift.description %></td>
          </tr>   
                  <tr>
            <td><strong><%=t 'activerecord.attributes.gift.event' %>:</strong></td>
             <td><%= @gift.event %></td>
          </tr>   
                </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-7">
        <%= link_to I18n.t('misc.action.back'), gifts_path, class: 'btn btn-default' %>
        <%= link_to I18n.t('misc.action.edit'),edit_gift_path(@gift), class: 'btn btn-warning' %>
        <%= link_to I18n.t('misc.action.destroy'),gift_path(@gift), method: :destroy, data: {confirm: I18n.t('misc.actions.confirm') }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
