<% collection.each do |resource| %>
    <tr id="<%= dom_id(resource) %>">
      <td><%= resource.name %></td>
      <td class="text-center">
        <% if current_user and current_user.admin? %>
            <%=resource.decorate.link_to_show%>
            <%=resource.decorate.link_to_edit%>
            <%=resource.decorate.link_to_delete%>
        <% end %>
      </td>
    </tr>
<% end %>

