<%= simple_form_for(@link_category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-group form-actions">
  	<%= link_to I18n.t('misc.action.back'), link_categories_path, class: 'btn btn-sm btn-square btn-default' %>
    <%= f.button :submit, t('link_categories.form.submit'), class: 'btn btn-sm btn-square btn-primary' %>
  </div>
<% end %>
