<%= provide :page_title, I18n.t('link_categories.new.header') %>
<%= provide :breadcrumb do %>
  <li><%= link_to  t('activerecord.models.link_category.other'), link_categories_path %></li>
  <li><%=t 'link_categories.new.header' %></li>
<% end %>

<div class="row">
  <div class="block">
    <div class="block-header">
        <h3 class="block-title"><%= I18n.t('link_categories.new.block_header') %></h3>
    </div>
    <div class="block-content">
      <%= render 'form' %>
    </div>
  </div>
</div>