<%= provide :page_title, I18n.t('link_categories.show.header', resource: @link_category.try(:id)) %>
<%= provide :breadcrumb do %>
    <li><%= link_to I18n.t('activerecord.models.link_category.other'), link_categories_path %></li>
    <li><%= link_to @link_category.try(:id), @link_category %></li>
    <li><%= I18n.t('link_categories.show.header', resource: @link_category.try(:id)) %></li>
<% end %>

<main id="main-container" style="min-height: 530px;">
  <div class="content bg-gray-lighter">
    <div class="row items-push">
      <div class="col-sm-7">
        <h1 class="page-heading">
          <%= t('link_categories.show.title') %>
        </h1>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="block">
      <div class="block-header text-right">
        <h3 class="block-title">
        </h3>
        <span>
          <%= link_to I18n.t('link_categories.new.new'), new_link_category_path, class: 'btn btn-sm btn-square btn-success' %>
        </span>
      </div>
      <div class="block-content">
        <div class="row">

          <div class="col-sm-12">
            <table class="table table-striped">
              <thead>
              </thead>
              <tbody>
              <tr>
                <td><strong><%= t 'activerecord.attributes.link_category.name' %>:</strong></td>
                <td><%= @link_category.name %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">

          <div class="col-sm-4 ">
            <%= link_to I18n.t('misc.action.back'), link_categories_path, class: 'btn btn-default' %>
            <%= link_to I18n.t('misc.action.edit'), edit_link_category_path(@link_category), class: 'btn btn-warning' %>
            <%= link_to I18n.t('misc.action.destroy'), link_category_path(@link_category), method: :destroy, data: {confirm: I18n.t('link_categories.show.remover')}, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
