<%= provide :page_title, I18n.t('links.edit.header', resource: @link.try(:id) ) %>
<%= provide :breadcrumb do %>
  <li><%= link_to  I18n.t('activerecord.models.link.other'), links_path %></li>
  <li><%= link_to  @link.try(:id), @link %></li>
  <li><%= I18n.t('links.edit.header', resource: @link.try(:id) ) %></li>
<% end %>

<div class="row">
  <div class="block">
    <div class="block-header">
        <h3 class="block-title"><%= I18n.t('links.new.block_header') %></h3>
    </div>
    <div class="block-content">
      <%= render 'form' %>
    </div>
  </div>
</div>
