<%= provide :page_title, I18n.t('albums.edit.header', resource: @album.try(:id) ) %>
<%= provide :breadcrumb do %>
  <li><%= link_to  I18n.t('activerecord.models.album.other'), albums_path %></li>
  <li><%= link_to  @album.try(:id), @album %></li>
  <li><%= I18n.t('albums.edit.header', resource: @album.try(:id) ) %></li>
<% end %>

<div class="row">
  <div class="block">
    <div class="block-header">
        <h3 class="block-title"><%= I18n.t('albums.new.block_header') %></h3>
    </div>
    <div class="block-content">
      <%= render 'form' %>
    </div>
  </div>
</div>
