<%= provide :page_title, I18n.t('albums.show.header', resource: @album.try(:id) ) %>
<%= provide :breadcrumb do %>
  <li><%= link_to  I18n.t('activerecord.models.album.other'), albums_path %></li>
  <li><%= link_to  @album.try(:id), @album %></li>
  <li><%= I18n.t('albums.show.header', resource: @album.try(:id) ) %></li>
<% end %>

<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= I18n.t('albums.show.header', resource: @album.try(:id)) %></h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
                  <tr>
            <td><strong><%=t 'activerecord.attributes.album.title' %>:</strong></td>
             <td><%= @album.title %></td>
          </tr>   
                </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-7">
        <%= link_to I18n.t('misc.action.back'), albums_path, class: 'btn btn-default' %>
        <%= link_to I18n.t('misc.action.edit'),edit_album_path(@album), class: 'btn btn-warning' %>
        <%= link_to I18n.t('misc.action.destroy'),album_path(@album), method: :destroy, data: {confirm: I18n.t('misc.actions.confirm') }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
