<%= provide :page_title, I18n.t('winners.edit.header', resource: @winner.try(:id) ) %>
<%= provide :breadcrumb do %>
  <li><%= link_to  I18n.t('activerecord.models.winner.other'), winners_path %></li>
  <li><%= link_to  @winner.try(:id), @winner %></li>
  <li><%= I18n.t('winners.edit.header', resource: @winner.try(:id) ) %></li>
<% end %>

<div class="row">
  <div class="block">
    <div class="block-header">
        <h3 class="block-title"><%= I18n.t('winners.new.block_header') %></h3>
    </div>
    <div class="block-content">
      <%= render 'form' %>
    </div>
  </div>
</div>
