<%= provide :page_title, I18n.t('winners.show.header', resource: @winner.try(:id) ) %>
<%= provide :breadcrumb do %>
  <li><%= link_to  I18n.t('activerecord.models.winner.other'), winners_path %></li>
  <li><%= link_to  @winner.try(:id), @winner %></li>
  <li><%= I18n.t('winners.show.header', resource: @winner.try(:id) ) %></li>
<% end %>

<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title"><%= I18n.t('winners.show.header', resource: @winner.try(:id)) %></h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
                  <tr>
            <td><strong><%=t 'activerecord.attributes.winner.gift' %>:</strong></td>
             <td><%= @winner.gift %></td>
          </tr>   
                  <tr>
            <td><strong><%=t 'activerecord.attributes.winner.user' %>:</strong></td>
             <td><%= @winner.user %></td>
          </tr>   
                </tbody>
      </table>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-7">
        <%= link_to I18n.t('misc.action.back'), winners_path, class: 'btn btn-default' %>
        <%= link_to I18n.t('misc.action.edit'),edit_winner_path(@winner), class: 'btn btn-warning' %>
        <%= link_to I18n.t('misc.action.destroy'),winner_path(@winner), method: :destroy, data: {confirm: I18n.t('misc.actions.confirm') }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
