<%%= provide :page_title, I18n.t('<%= plural_table_name %>.edit.header', resource: @<%= singular_table_name %>.try(:id) ) %>
<%%= provide :breadcrumb do %>
  <li><%%= link_to  I18n.t('activerecord.models.<%= singular_table_name %>.other'), <%= plural_table_name %>_path %></li>
  <li><%%= link_to  @<%= singular_table_name %>.try(:id), @<%= singular_table_name %> %></li>
  <li><%%= I18n.t('<%= plural_table_name %>.edit.header', resource: @<%= singular_table_name %>.try(:id) ) %></li>
<%% end %>

<div class="row">
  <div class="block">
    <div class="block-header">
        <h3 class="block-title"><%%= I18n.t('<%= plural_table_name %>.new.block_header') %></h3>
    </div>
    <div class="block-content">
      <%%= render 'form' %>
    </div>
  </div>
</div>
