<%= provide :page_title, I18n.t('financial_transactions.index.header') %>
<%= provide :breadcrumb do %>
    <li><%= I18n.t('activerecord.models.financial_transaction.other') %></li>
<% end %>
<main id="main-container" style="min-height: 530px;">
  <div class="content bg-gray-lighter">
    <div class="row items-push">
      <div class="col-sm-7">
        <h1 class="page-heading ">
          <%= t('financial_transactions.index.title') %>
        </h1>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="block">
      <div class="block-header text-right">
        <h3 class="block-title">
          <% unless current_user and current_user.admin? %>
              <div class="text-right"><a href="paginas/doacao" class="btn btn-success">Contribua com a GoRails</a></div>
          <% end %>

        </h3>
        <span>
          <% if current_user and current_user.admin? %>
          <%= link_to I18n.t('financial_transactions.new.title'), new_financial_transaction_path, class: 'btn btn-sm btn-square btn-success' %>
          <% end %>
        </span>
      </div>
      <div class="block-content">

        <div class="row">
          <div class="row">
            <div class="col-sm-6 col-md-2">
              <a class="block block-link-hover3 text-center" href="javascript:void(0)">
                <div class="block-content block-content-full text-success">
                  <%== number_to_currency(FinancialTransaction.income, :precision => 2) %>
                </div>
                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-success font-w600">RECEITAS</div>
              </a>
            </div>
            <div class="col-sm-6 col-md-2">
              <a class="block block-link-hover3 text-center" href="javascript:void(0)">
                <div class="block-content block-content-full text-danger">
                  <%= number_to_currency(FinancialTransaction.outcome, :precision => 2) %>
                </div>
                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-danger font-w600">DESPESAS</div>
              </a>
            </div>
            <div class="col-sm-6 col-md-2">
              <a class="block block-link-hover3 text-center" href="javascript:void(0)">
                <div class="block-content block-content-full text-muted">
                  <%= number_to_currency(FinancialTransaction.balance, :precision => 2) %>
                </div>
                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">SALDO
                  ATUAL
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-md-2">
              <a class="block block-link-hover3 text-center" href="javascript:void(0)">
                <div class="block-content block-content-full text-warning">
                  <%= number_to_currency(FinancialTransaction.income(false), :precision => 2) %>
                </div>
                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-warning font-w600">RECEITA
                  NAO CONSOLIDADA
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-md-2">
              <a class="block block-link-hover3 text-center " href="javascript:void(0)">
                <div class="block-content block-content-full text-warning">
                  <%= number_to_currency(FinancialTransaction.outcome(false), :precision => 2) %>
                </div>
                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-warning font-w600">DESPESA
                  NAO CONSOLIDADA
                </div>
              </a>
            </div>
            <div class="col-sm-6 col-md-2">
              <a class="block block-link-hover3 text-center" href="javascript:void(0)">
                <div class="block-content block-content-full">
                  <%= number_to_currency(FinancialTransaction.balance_after_consolidated, :precision => 2) %>
                </div>
                <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">SALDO
                  APÓS CONSOLIDAÇÕES
                </div>
              </a>
            </div>
          </div>
        </div>


        <table class="table table-striped">
          <thead>
          <tr>

            <th><%= t 'activerecord.attributes.financial_transaction.object' %></th>
            <th><%= t 'activerecord.attributes.financial_transaction.origin' %></th>
            <th><%= t 'activerecord.attributes.financial_transaction.transaction_type' %></th>
            <th><%= t 'activerecord.attributes.financial_transaction.value' %></th>
            <% if current_user and current_user.admin? %>
                <th><%= t 'activerecord.attributes.financial_transaction.user_id' %></th>
            <% end %>
            <th><%= t 'activerecord.attributes.financial_transaction.payment_date' %></th>
            <th><%= t 'activerecord.attributes.financial_transaction.payment_method' %></th>
            <th><%= t 'activerecord.attributes.financial_transaction.consolidated' %></th>
            <th><%= t 'activerecord.attributes.financial_transaction.consolidation_date' %></th>
            <% if current_user and current_user.admin? %>
                <th class="text-center" style="width: 150px;"><%= t 'misc.actions' %></th>
            <% end %>
          </tr>
          </thead>
          <tbody id='link_categories'>
          <%= render 'collection', collection: @financial_transactions %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

