<% collection.each do |resource| %>
    <tr id="<%= dom_id(resource)%>">
              <td><%= resource.album %></td>
              <td><%= resource.asset %></td>
              <td><%= resource.title %></td>
            <td class="text-center">
        <div class="btn-group">
           <%= link_to image_path(resource), data: { toggle: 'tooltip', original_title: I18n.t('misc.action.show')}, title: '', class: "btn btn-xs btn-default" do %>
             <i class="fa fa-list"></i>
           <% end %>
             <%= link_to edit_image_path(resource) , data: { toggle: 'tooltip', original_title: I18n.t('misc.action.edit')}, title: '', class: "btn btn-xs btn-default" do %>
             <i class="fa fa-pencil"></i>
           <% end %>
             <%= link_to image_path(resource) , data: { toggle: 'tooltip', original_title: I18n.t('misc.action.destroy')}, title: '', class: "btn btn-xs btn-default" do %>
             <i class="fa fa-times"></i>
           <% end %> 
        </div>
      </td>
    </tr>
<% end %>

