<%= simple_form_for(@image) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :album %>
    <%= f.input :asset %>
    <%= f.input :title %>
  </div>

  <div class="form-group form-actions">
  	<%= link_to I18n.t('misc.action.back'), images_path, class: 'btn btn-sm btn-square btn-default' %> 
    <%= f.button :submit, class: 'btn btn-sm btn-square btn-primary' %>
  </div>
<% end %>
