<%= form_for(@tb_evento) do |f| %>
  <% if @tb_evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tb_evento.errors.count, "error") %> prohibited this tb_evento from being saved:</h2>

      <ul>
      <% @tb_evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.datetime_select :data %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    <%= f.label :local %><br>
    <%= f.text_area :local %>
  </div>
  <div class="field">
    <%= f.label :limite_participantes %><br>
    <%= f.number_field :limite_participantes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
