<p id="notice"><%= notice %></p>

<h1>Listing Tb Eventos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data</th>
      <th>Descricao</th>
      <th>Local</th>
      <th>Limite participantes</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tb_eventos.each do |tb_evento| %>
      <tr>
        <td><%= tb_evento.nome %></td>
        <td><%= tb_evento.data %></td>
        <td><%= tb_evento.descricao %></td>
        <td><%= tb_evento.local %></td>
        <td><%= tb_evento.limite_participantes %></td>
        <td><%= link_to 'Detalhes', tb_evento %>|</td>
        <td><%= link_to 'Inscrever-se', register_tb_eventos_path(event: tb_evento,user: current_user.id) %></td>

        <td><% if can? :update, tb_evento %><%= link_to 'Edit', edit_tb_evento_path(tb_evento) %><%end%></td>
        <td><% if can? :remove, tb_evento %><%= link_to 'Destroy', tb_evento, method: :delete, data: { confirm: 'Are you sure?' } %><%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tb evento', new_tb_evento_path %>
