<li>
  <a class="<%= 'active' if ["paginas"].include?(controller_name) %>" href="/"><i class="si si-home"></i><span class="sidebar-mini-hide"> Principal </span></a>
</li>

<li>
  <a class="<%= 'active' if ["events"].include?(controller_name) %>" href="/eventos"><i class="fa fa-calendar"></i><span class="sidebar-mini-hide"> Eventos</span></a>
</li>
<li>
  <a href="/blog/posts/list"><i class="fa fa-newspaper-o"></i><span class="sidebar-mini-hide"> Notícias</span></a>
</li>
<li>
  <a href="/transparencia"><i class="fa fa-money"></i><span class="sidebar-mini-hide"> Transparência</span></a>
</li>
<li>
  <a href="/paginas/doacao"><i class="fa fa-gift"></i><span class="sidebar-mini-hide"> Doação</span></a>
</li>
<!--<li>-->
  <!--<a href="/paginas/doacoes"><i class="fa fa-calendar"></i><span class="sidebar-mini-hide"> Doações</span></a>-->
<!--</li>-->
<li>
  <a class="<%= 'active' if ["links"].include?(controller_name) %>" href="/links/uteis"><i class="fa fa-link"></i>
    <span class="sidebar-mini-hide"> Links Utéis</span></a>
</li>

<li>
  <a class="<%= 'active' if ["messages"].include?(controller_name) %>" href="/contact"><i class="si si-envelope-open"></i><span class="sidebar-mini-hide"> Contato</span></a>
</li>

<% if user_signed_in? %>
    <li>
      <%= link_to edit_user_registration_path, :class => 'navbar-link' do %>
          <i class="fa fa-user"></i><span class="sidebar-mini-hide"> <%= current_user.full_name %> </span>
      <% end %>
    </li>

    <li>
      <%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link' do %>
          <i class="fa fa-sign-out "></i><span class="sidebar-mini-hide"> Deslogar</span>
      <% end %>
    </li>

<% else %>

    <li><%= link_to new_user_registration_path, :class => "navbar-link #{'active' if ['registrations'].include?(controller_name) and ['new'].include?(action_name)}" do %>
          <i class="fa fa-file-text-o"></i><span class="sidebar-mini-hide"> Registrar</span>
      <% end %>
    </li>

    <li><%= link_to new_user_session_path, :class => "navbar-link #{'active' if ['sessions'].include?(controller_name) and ['new'].include?(action_name)}" do %>
          <i class="fa fa-sign-in"></i><span class="sidebar-mini-hide"> Logar</span>
      <% end %>
    </li>

<% end %>
