<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>GoRails</title>

  <meta name="description" content="WebSite GORAILS">
  <meta name="author" content="jcottobboni,helioborges,fabioaraujopina">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

  <!-- Icons -->
  <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/faviicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/faviicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/faviicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/faviicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/faviicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/faviicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/faviicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/faviicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/faviicon/apple-icon-180x180.png">
  
  <link rel="icon" type="image/png" sizes="192x192" href="<%=asset_path 'android-icon-192x192.png'%>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%=asset_path 'favicon-32x32.png'%>">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/faviicon/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="96x96" href="<%=asset_path 'favicon-96x96.png'%>">
   <link rel="icon" type="image/png" sizes="16x16" href="<%=asset_path 'favicon-16x16.png'%>">
  
   <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  
  <link rel="manifest" href="/assets/images/faviicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/images/faviicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- END Icons -->
  <!-- Stylesheets -->
  <!-- Web fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
  <!-- OneUI CSS framework -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
  <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
  <!-- END Stylesheets -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= include_controller_javascript %>
  <%= include_view_javascript %>
</head>
<body>
<%= render '/layouts/flash_messages'  ,locals: { flash: flash }%>

<% if user_signed_in? %>
    <div id="page-container" class="sidebar-l sidebar-mini sidebar-o side-scroll header-navbar-fixed bg-white-op">
      <%= render '/layouts/header_sidebar' %>
      <%#= render '/layouts/header_top' %>
<% else %>
    <div id="page-container" class="">
      <%#= render '/layouts/header_sidebar' %>
      <%= render '/layouts/header_top' %>
<% end %>

<% if user_signed_in? %>
<%=render'layouts/header_clean'%>
<% end %>


<main id="main-container" style="background-color: #f9f9f9 !important; padding-top: 0px;
">
  <!--<div class="content bg-gray-lighter">-->
  <!--<div class="row items-push">-->
  <!--<div class="col-sm-7">-->
  <!--<h1 class="page-heading">-->
  <!--<%#= content_for?(:page_title) ? yield(:page_title) : t('.h1') %>-->
  <!--</h1>-->
  <!--</div>-->
  <!--<div class="col-sm-5 text-right hidden-xs">-->
  <!--<ol class="breadcrumb push-10-t">-->
  <!--<%#= yield :breadcrumb if content_for?(:breadcrumb) %>-->
  <!--</ol>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!-- Page Content -->
  <%= yield %>
  <%= render '/layouts/footer' %>
</main>
</div>
</div>


<script>
    $(document).ready(function () {
        //your code here
        App.initHelpers(['appear', 'appear-countTo']);
    });
</script>

</body>

</html>
